{% extends "base.html" %}
{% block lab %}Лабораторная работа 5{% endblock %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='lab5/lab5.css') }}">

<div class="lab5-container">
    <h1>Список пользователей</h1>

    <div class="users-list">
        {% for user in users %}
        <div class="user-card">
            <div class="user-login">{{ user['login'] }}</div>
            <div class="user-name">{{ user['full_name'] }}</div>
        </div>
        {% endfor %}
    </div>

    <a href="{{ url_for('lab5.lab') }}" class="btn">На главную</a>
</div>
{% endblock %}
