{% extends "base.html" %}
{% block lab %}Создание статьи{% endblock %}
{% block main %}
    <h1>Создание новой статьи</h1>

    {% if error %}
        <div style="color: red; margin-bottom: 20px;">
            {{ error }}
        </div>
    {% endif %}

    <form action="/lab8/create/" method="post">
        <div>
            <label>
                Заголовок: <br>
                <input type="text" name="title" style="width: 300px;" value="{{ request.form.get('title', '') }}">
            </label>
        </div>
        <div>
            <label>
                Текст статьи: <br>
                <textarea name="article_text" rows="10" style="width: 500px;">{{ request.form.get('article_text', '') }}</textarea>
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" name="is_public"> Сделать статью публичной
            </label>
            <p><small>Публичные статьи видны всем пользователям, даже неавторизованным</small></p>
        </div>
        <div>
            <button type="submit">Создать статью</button>
            <a href="/lab8/articles/" style="margin-left: 20px;">Отмена</a>
        </div>
    </form>
{% endblock %}
