{% extends "base.html" %}
{% block lab %}Редактирование статьи{% endblock %}
{% block main %}
    <h1>Редактирование статьи</h1>

    {% if error %}
        <div style="color: red; margin-bottom: 20px;">
            {{ error }}
        </div>
    {% endif %}

    <form action="/lab8/articles/{{ article.id }}/edit/" method="post">
        <div>
            <label>
                Заголовок: <br>
                <input type="text" name="title" style="width: 300px;" value="{{ article.title }}">
            </label>
        </div>
        <div>
            <label>
                Текст статьи: <br>
                <textarea name="article_text" rows="10" style="width: 500px;">{{ article.article_text }}</textarea>
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" name="is_public" {% if article.is_public %}checked{% endif %}>
                Сделать статью публичной
            </label>
            <p><small>Публичные статьи видны всем пользователям, даже неавторизованным</small></p>
        </div>
        <div>
            <button type="submit">Сохранить изменения</button>
            <a href="/lab8/articles/" style="margin-left: 20px;">Отмена</a>
        </div>
    </form>
{% endblock %}
